*{
    margin: 0;
}
.font-Inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
nav{
    background-color:#ffffff;
    display: flex;
    align-items: center;
    margin: 16px 120px;
    justify-content: space-between;
    width: 1600px;
    height: 92px;
}
nav .logo img{
    width: 139px;
    height: 60px;
    align-items: center;
}
.blog{
    display: flex;
    list-style-type: none;
    justify-content: flex-start;
    flex-direction: row;
    gap: 32px;
    align-items: center;
    width: 365px;
    height: 24px;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    line-height: 152%;
}

nav li a{
    text-decoration: none;
}
nav .button{
    width: 164px;
    height: 44px;
    background-color: rgba(70, 145, 101, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 4PX;
    cursor: pointer;
    border: none;
    font-size: 16px;
    padding: 12px 16px 12px 16px;
    text-align: center;
}
nav .button:hover{
    background-color: darkgreen;
}

#banner{
    background-image: url(.//assets/hero-bg.png);
    background-color: rgba(0, 25, 49, 0.8);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 774px;
}
#banner .b-content{
    text-align: center;
    width: 1550px;
    height: 379px;
    padding: 150px 120px;
}
#banner .but{
    width: 229px;
    height: 45px;
    align-items: center;
    padding: 5px 12px 4px 10px;
    border: none;
    border-radius: 1000px;
    color: rgba(70, 145, 101, 1);
    cursor: pointer;
    font-size: 16px;
}
#banner .but:hover{
    background-color: #000000;
}
#banner h1{
    font-size: 72px;
    color: rgba(255, 255, 255, 1);
}
#banner h1 span{
    color: rgba(48, 184, 104, 1);
}
#banner p{
    line-height: 24px;
    margin: 20px;
    margin-left: 470px;
    width: 615px;
    color: rgba(255, 255, 255, 1);
}
#banner .b-content .butt{
    width: 251px;
    height: 52px;
    background-color: rgba(70, 145, 101, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 4PX;
    cursor: pointer;
    border: none;
    font-size: 16px;
    padding: 12px 16px 12px 16px;
    align-items: center;
}
#banner .butt:hover{
    background-color: darkgreen;
}
#banner .bu{
    width: 198px;
    height: 52px;
    background-color: transparent;
    color: rgba(255, 255, 255, 1);
    border-radius: 4PX;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 1);
    font-size: 16px;
    padding: 12px 16px 12px 16px;
    text-align: center;
    box-sizing: border-box;
}
#banner .bu:hover{
    background-color: #000000;
}
#banner .b-content i {
    padding: 7px;
    color: rgb(255, 255, 255);
}

#card-section{
    align-items: center;
    text-align: center;
    background-color: #ffffff;
    width: 1800px;
    height: 448px;
}
#card-section .title h2{
    font-size: 48px;
    font-weight: bold;
    width: 1800px;
    margin-top: 50px;
}
#card-section .title p{
    font-size: 16px;
    color: #627382;
    margin-bottom: 30px;
    width: 1800px;
}
#card-section .cards{
    display: flex;
    justify-content: space-around;
    gap: 24px;
    width: 1600px;
    height: 300px;
    padding-bottom: 100px;
    margin-left: 90px;
}
#card-section .card-info{
    border: none;
    padding: auto;
    width: 1600px;
    height: 300px;
    box-shadow: 0px 0px 10px 0px #d4cdcd;
}
#card-section .card-img{
    background-color: rgba(249, 85, 85, 1);
    border-radius: 40px;
    padding: 16px;
    margin-top: 90px;
}
#card-section .card-info h3{
    font-size: 24px;
    width: 274px;
    margin-left: 60px;
    padding: 10px 0px 10px 0px;
}

#card-section .card-info p{
    font-size: 16px;
    color: #627382;
    width: 274px;
    margin-left: 60px;
}

#brain{
    display: flex;
    justify-content: center;
    gap: 60px;
    width: 1800px;
    height: 600px;
    text-align: center;
    padding: 80px 0px 80px 0px;
}
#brain .brain-img{
    height: 300px;
    border-radius: 12px;
    padding: 0px 100px 0px 0px;
}
#brain .brain-info{
    text-align: left;
    align-items: center;
    margin-top: 100px;
    padding-right: 100px;
}
#brain .brain-info h6{
    font-size: 16px;
    color: #30B868;
}
#brain .brain-info h3{
    font-size: 48px;
    padding-bottom: 10px;
    padding-top: 10px;
}
#brain .brain-info p{
    font-size: 16px;
    color: #627382;
    width: 700px;
    height: 60px;
    padding-bottom: 5px;
}
#brain .brain-info ul{
    list-style-type: none;
    padding: 0px;
}
#brain .brain-info li{
    margin: 10px 0px;
}
#brain .brain-info img{
    padding-right: 10px;
}

#access{
    width: 1800px;
    height: 384px;
    margin: 2px 120px 120px 0px ;
    text-align: center;
}
#access .access-info{
    background-color: #F7F6F2;
    width: 1600px;
    height: 384px;
    margin-left: 90px;
    border-radius: 12px;
}
#access .access-info h3{
    font-size: 48px;
    padding-top: 80px;
}
#access .access-info p{
    font-size: 16px;
    color: #627382;
    padding: 20px;
}
#access .butt:hover{
    background-color: darkgreen;
}

#foot-section{
    background-color: #001931;
    width: 1800px;
    height: 348px;
    text-align: center;
    padding: 30px 0px 70px 0px;
}
#foot-section .foot{
    display: flex;
    justify-content: space-between;
    gap: 80px;
    padding: 120px;
}
#foot-section .foot-link h5{
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
    font-weight: 500px;
}
#foot-section .foot-link .link{
    list-style: none;
    display: flex;
    gap: 8px;
    padding: 20px 20px 20px 20px;
}
#foot-section .foot-link .link li a{
    background-color: #ffffff;
    padding:8px 8px 8px 8px;
    border: none;
    border-radius: 50%;
    align-items: center;
    gap: 8px;
}
#foot-section hr{
    width: 1660px;
    height: 0;
    color: #E5E7EB;
    opacity: 10%;
    margin-left: 60px;
    margin-bottom: 30px;
}
#foot-section .copyright p{
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
}