*{
    margin: 0;
}
.font-Inter{
    font-family: Inter;
    font-optical-sizing: auto;
}
nav{
    background-color:#ffffff;
    display: flex;
    align-items: center;
    margin: 16px 120px;
    justify-content: space-between;
    width: 1600px;
    height: 92px;
}
nav .logo img{
    width: 139px;
    height: 60px;
    align-items: center;
}
.blog{
    display: flex;
    list-style-type: none;
    justify-content: flex-start;
    flex-direction: row;
    gap: 32px;
    align-items: center;
    width: 365px;
    height: 24px;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    line-height: 152%;
}

nav li a{
    text-decoration: none;
}
nav .button{
    width: 164px;
    height: 44px;
    background-color: rgba(70, 145, 101, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 4PX;
    cursor: pointer;
    border: none;
    font-size: 16px;
    padding: 12px 16px 12px 16px;
    text-align: center;
}
nav .button:hover{
    background-color: darkgreen;
}

#banner{
    background-image: url(./assets/hero-bg.png);
    background-color: rgba(0, 25, 49, 0.8);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 774px;
}
#banner .b-contant{
    text-align: center;
    width: 1560px;
    height: 379px;
    padding: 150px 120px;
}
#banner .but{
    width: 229px;
    height: 45px;
    align-items: center;
    padding: 5px 12px 4px 10px;
    border: none;
    border-radius: 1000px;
    color: rgba(70, 145, 101, 1);
    cursor: pointer;
    font-size: 16px;
}
#banner .but:hover{
    background-color: #000000;
}
#banner h1{
    font-size: 72px;
    color: rgba(255, 255, 255, 1);
}
#banner h1 span{
    color: rgba(48, 184, 104, 1);
}
#banner p{
    line-height: 24px;
    margin: 20px;
    margin-left: 470px;
    width: 615px;
    color: rgba(255, 255, 255, 1);
}
.butt{
    width: 251px;
    height: 52px;
    background-color: rgba(70, 145, 101, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 4PX;
    cursor: pointer;
    border: none;
    font-size: 16px;
    padding: 12px 16px 12px 16px;
    align-items: center;
}
#banner .butt:hover{
    background-color: darkgreen;
}
#banner .bu{
    width: 198px;
    height: 52px;
    background-color: transparent;
    color: rgba(255, 255, 255, 1);
    border-radius: 4PX;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 1);
    font-size: 16px;
    padding: 12px 16px 12px 16px;
    text-align: center;
    box-sizing: border-box;
}
#banner .bu:hover{
    background-color: #000000;
}
i {
    padding: 7px;
    color: rgb(255, 255, 255);
}