.font-Inter{
    font-family: Inter;
    font-optical-sizing: auto;
}
nav{
    background-color:#ffffff;
    display: flex;
    align-items: center;
    margin: 16px 120px;
    justify-content: space-between;
    width: 1600px;
    height: 92px;
}
nav .logo img{
    width: 139px;
    height: 60px;
    align-items: center;
}
.blog{
    display: flex;
    list-style-type: none;
    justify-content: flex-start;
    flex-direction: row;
    gap: 32px;
    align-items: center;
    height: 24px;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    line-height: 152%;
}

nav li a{
    text-decoration: none;
}
.button{
    width: 164px;
    height: 44px;
    background-color: rgba(70, 145, 101, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 4PX;
    cursor: pointer;
    border: none;
    font-size: 16px;
    padding: 12px 16px 12px 16px;
    align-items: center;
}
.button:hover{
    background-color: darkgreen;
}